@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  z-index: 10001 !important;
  background-color: #FCFCFC;
}

.section-container{
  @apply max-w-screen-2xl container mx-auto xl:px-24 px-4;
}
.white{
  color: #FCFCFC;
}
.red{
  color: red;
}
.green{
  color: rgb(10, 220, 10);
}
.subtitle{
  @apply green uppercase tracking-wide font-semibold text-lg;
}

.title{
  @apply text-4xl md:text-5xl font-bold my-2 md:leading-snug leading-snug;
}

.active{
  text-decoration: underline;
  text-underline-offset: 5px;
  color: purple;
}

.purple{
 color: purple;
}

.black{
  color: black;
}



@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: '<angle>';
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#0A6847, #7ABA78)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

.nee{
  color: "#874CCC";
}